@font-face {
    font-family: 'wonder'; 
    src: url('fonts/Alice_in_Wonderland_3.ttf') format('truetype');
}

@font-face {
    font-family: 'storm';
    src: url('fonts/White_Storm.otf') format('opentype');
}

  
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}


.spin-image {
  animation: spin 8s linear infinite; 
}

body{
    background-color: #DBC8AC;
    font-family: 'wonder';
        background-image: url('../images/pngwing1.png');
        background-position: top right;
        background-repeat: no-repeat;
        cursor: url('../images/cursor.png'), auto;
        overflow-x: hidden;
        
    
}
.cursor {
  cursor: url('../images/cursor.png'), auto;
}

/* .cursor:hover {
  cursor: url('../images/hover.png'), auto;
}  */
.change:hover{
  cursor: url('../images/hover.png'), auto;
}
.h3{
  color: #B73E3E;
  font-size: 6rem;
}
.h5{
  font-family: 'storm';
  font-size: 2rem;
}
a {
    color: #B73E3E; 
}

a:visited {
    color: #DD5353; 
}

a:hover, a:focus, a:active {
    color: #B73E3E; 
    cursor: url('../images/hover.png'), auto;
}

.btn {
    padding: 16px 46px;
    border: 2px solid #B73E3E; 
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #232127;
    
    
}
.btn:hover{
  cursor: url('../images/hover.png'), auto; 
}
.btn.gradient:hover{
  cursor: url('../images/hover.png'), auto; 
}
.btn.gradient {
  padding: 1px 10px;
  border: 2px solid #B73E3E;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #EDDBC0;
  position: relative;
  display: inline-block;
  text-align: right;
  overflow: hidden; 
  background-color: #B73E3E; 
  background-image: linear-gradient(270deg, #DD5353 0%, #B73E3E 100%);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .btn.gradient::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/button.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%, cover;
  animation: spin 3s linear infinite;
} */

/* img:hover{
  animation: spin 3s linear infinite;
} */
.spin{
  animation: spin 3s linear infinite;
}

.btn.gradient span {

    margin-right: 30px;
    font-size: 1.5rem;
}

.btn.gradient-bg {
    padding: 18px 46px;
    border: 0;
    background-image: linear-gradient(180deg, rgba(183, 62, 62, 1) 0%, rgba(221, 83, 83, 1) 100%);
    color:#EDDBC0;
}


.btn.dark-purple {
    background: #B73E3E; 
    color: #EDDBC0;
}

.btn.dark {
    background: #231e23;
    border-color: transparent;
    color: #EDDBC0;
}

.site-header {
    position: relative;
} 

.site-header .site-title img {
    max-height: 64px;
}

/*
# Header Bar
--------------------------------*/
.header-bar {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 14px 0;
}



.site-navigation {
    position: absolute;
    top: -22px;
    right: 15px;
    z-index: 9999;
    width: 100%;
    height: 22px;
    overflow: hidden;
    list-style: none;
    transition: all .35s;
    font-family: 'wonder'; 
   
}

.site-navigation.show {
    height: auto;
}

.site-navigation ul {
    position: fixed;
    top: 0;
    right: 0;
    /* z-index: 9999; */
    width: 320px;
    max-width: 80%;
    height: 100vh;
    overflow-x: scroll;
    padding: 30px;
    margin: 0;
    background: #B73E3E;
    transition: all 0.35s;
}

/* .site-navigation.show ul {
    right: 0;
} */

.site-navigation ul li {
    display: block;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.site-navigation ul li a {
    display: block;
    color: #EDDBC0;
    transition: all 0.35s;
    text-decoration: none;
    font-family: 'wonder'; 
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    border-color: #2f2f2f;
}

@media screen and (min-width: 992px) {
    .site-navigation {
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        background: transparent;
    }

    .site-navigation ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: auto;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
       
    }

    .site-navigation ul li a {
        color: #B73E3E;
    }
}

.logo-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo {
    max-width: 150px;
    top: 1rem;
    left: 15rem;
    position: absolute;
    z-index: 1;
    justify-content: center;
    


    
}
.logo2 {
  position: absolute;
  z-index: 1;
  justify-content: center;
  

}

.forma{
    border-radius: 37px;
    width: auto;
background: linear-gradient(to bottom,  #511B1B, #B74E3E);
color: #EDDBC0;
font-size: large;
margin-top:   3rem;
}

.input{
        border: none;
        border-radius: 10px;

}

.title{
    color: #B73E3E;
    font-size: 130px;

}



/* post */

  
  .panel {
    position: relative;
    background: #EDDBC0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  /* .blog-container a:not(.btn) {
    color: #999;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
  } */
  
  .image-wrapper img {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
  }
  
  .image-wrapper:hover .image-overlay {
    opacity: .9;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
  }
  
  .post-like {
    float: right;
    cursor: pointer;
  }
  
  .headline {
    margin: 20px 0;
    padding: 5px 0 10px;
    border-bottom: 1px solid #B73E3E;
    font-weight: 500;
  }
  
  h4, .h4 {
    font-size: 18px;
  }
  
  .media, .media-body {
    overflow: hidden;
    zoom: 1;
  }

  .text{
    color: #B73E3E;
  }


  #selectedTagsContainer {
    margin-top: 10px;
  }

  #selectedTagsContainer > div {
    display: inline-block;
    background-color: #EDDBC0;
    color: #000000;
    padding: 5px 5px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  #selectedTagsContainer > div > button {
    background-color: transparent;
    border: none;
    color: #B73E3E;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
  }



  .form-group label {
    font-weight: bold;
  }

  .form-control {
    border-color: #ced4da;
    border-radius: 5px;
  }

  .btn-primary {
   
    background-color: #EDDBC0;
    border-color: #B73E3E;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #938674;
    border-color: #B73E3E;
  }

  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #dd1a1a;
  }

  .btn-primary:active {
    background-color: #dd1a1a;
    border-color: #f50707;
    transform: translateY(1px);
  }

  .form-control:focus {
    border-color: #B73E3E;
    box-shadow: 0 0 0 0.2rem #B73E3E;
  }



  .section {
    padding: 100px 0;
    position: relative;
}
.rabbit{
  max-width: 200px;
}
img {
    max-width: 100%;
}


img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  /* padding: 22px 20px; */
  padding-bottom: 10px ;
  background: #B73E3E;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
/* .about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
} */
/* .about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}*/
.about-section .counter p {
  font-weight: 600;
  font-size: large;
  margin: 0;
} 
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}
#image-with-border {
  border: 10px solid transparent;
  border-image: url('../images/Profilepic.png') 10 repeat;
}


/* register */
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture::before {
  /* content: '\1F4F7'; */
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #777;
  opacity: 0.7;
  z-index: 1;
}

input[type="file"].d-none {
  display: none;
}
 

/* stats */
.card {
  margin-bottom: 20px;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 300px;
  width: 80%;
}



/* like */
.like{
  background: none;
  border: none;
 font-size: 1.2rem;
 
}

.sidebar-nav a.active  {
  text-decoration: none;
  color: #fff;
  background: #6e1010;
}

/* profile picture */
.profile-container {
  position: relative;
  display: inline-block;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-left: 33px;
}

/* .profile-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border: 10px solid transparent;
  border-image-source: url('../images/borderpfp.png');
  border-image-slice: 10%;
  border-radius: 50%;
} */